[Unit]
Description=Incognito Full Node
After=network-online.target

[Service]
User=incognito
Group=incognito
WorkingDirectory=~
StateDirectory=incognito
LogsDirectory=incognito

Type=simple
ExecStart=/usr/bin/incognitod --config-file /etc/incognitod.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
